@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #b1b1b1
}

::-webkit-scrollbar-thumb:hover {
    background: #802a62;
}

canvas{
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    max-width: 100%;
}

.animation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simulation .right{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

.simulation .left{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

header {
    background-color: #812a63;
}

.navbar{
    display: flex;
    color: white;
    border-radius: 0;
    min-height: 0;
    margin-bottom: 0;
    border: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    gap: 10px;
}

.navbar ul li{
    display: flex;
    align-items: center;
    padding: 0 10px;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar ul li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

body{
    background: #f5f5f5;
}

.breadcrumb{
    margin-top: 10px;
    padding: 0;
    margin-bottom: 10px;
}

.header{
    padding: 40px 20px 70px 20px;
    background: #fada58;
    border-bottom: 4px solid rgba(177, 74, 143, 0.68);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header h1{
    font-size: 30px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

body > .container > .content{
    background: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 22px;
    margin: 0;
    padding: 10px;
}

.simulation {
    overflow: hidden;
    position: relative;
    margin: 10px 0;
}

.simulation > details {
    border-radius: 5px;
    margin: 10px 0;
    font-weight: bold;
}

.simulation > details > summary {
    background: #ececec;
    padding: 10px;
    border-bottom: 3px solid #a0a0a5;
    cursor: pointer;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-bottom 0.1s cubic-bezier(0.4, 0, 0.2, 1), margin-bottom 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 10px;
    border-radius: 5px;
}

.simulation > details > summary:hover {
    background: #d5d5d5;
}

.simulation > details > summary:after {
    content: "▼";
    position: absolute;
    right: 10px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.simulation > details[open] > summary:after {
    transform: rotate(180deg);
}

.simulation > details[open] > summary {
    background: #d5d5d5;
}

.button {
    background-color: #d5d5d5;
    color: #2b2b2c;
    border: none;
    border-bottom: 3px solid #6a6a71;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-bottom 0.1s cubic-bezier(0.4, 0, 0.2, 1), margin-bottom 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #535355;
    color: white;
}

footer{
    background-color: #ededed;
    padding: 20px;
    text-align: center;
}
input[type="range"]{
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    border-radius: 2px;
    outline: none;
    margin: 10px 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #8a8a8a;
    cursor: pointer;
    border-radius: 4px;
    border-bottom: 2px solid #4a4949;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #4a4949;
}

.checkbox-container{
    display: inline-block;
}

.checkbox-container label{
    background: #d5d5d5;
    border-radius: 5px;
    display: inline-block;
    border-bottom: 3px solid #6a6a71;
    padding: 10px 20px;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-bottom 0.1s cubic-bezier(0.4, 0, 0.2, 1), margin-bottom 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    font-weight: 500;
    user-select: none;
}

.checkbox-container label:hover{
    background: #a5dabe;
    color: white;
}

.checkbox-container input[type="checkbox"]{
    display: none;
}

.checkbox-container label.checked{
    background: #3db478;
    color: white;
}

.checkbox-container label.checked:hover{
    background: #238754;
    color: white;
}

.calculator {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
}

.calculator summary {
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.calculator summary:after {
    content: "▼";
    position: absolute;
    right: -10px;
    font-size: 18px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/*wenn details offen, dann summary größere font*/
.calculator details[open] summary {
    font-size: 28px;
    font-weight: normal;
}

.calculator details[open] summary:after {
    transform: rotate(180deg);
}

.calculator label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.calculator input[type="number"] {
    padding: 5px;
    border-radius: 3px;
    outline: none;
    margin-top: 5px;
    background: #f1f1f1;
    border: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.calculator button {
    padding: 10px;
    background-color: #3db478;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculator button:hover {
    background-color: #238754;
}

.calculator .result {
    margin-top: 10px;
    font-weight: bold;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.calculator #result {
    margin-top: 10px;
    font-weight: bold;
}